In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

In [3]:
list_1=[1,2,3,-1,"data science "]
print(list_1)

[1, 2, 3, -1, 'data science ']

In [4]:
series_1=pd.Series(list_1)
print(series_1)

0                1
1                2
2                3
3               -1
4    data science
dtype: object

In [5]:
#another method

In [6]:
series_2=pd.Series([1,2,3,-6,"all is black "])
print(series_2)

0                1
1                2
2                3
3               -6
4    all is black
dtype: object

In [7]:
# to create a empty list

In [8]:
empty_s=pd.Series([])
print(empty_s)

Series([], dtype: float64)

<ipython-input-8-61bfa6afa16b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s=pd.Series([])

In [9]:
# to create owr own index values

In [10]:
series_3=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(series_3)

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
series_3=pd.Series([1,2,3,4],index=['a','b','c','d'],name="data entry ")
print(series_3)

a    1
b    2
c    3
d    4
Name: data entry , dtype: int64

In [12]:
# create a single value scaler series

In [13]:
scaler_s=pd.Series(0.2)
print(scaler_s)

0    0.2
dtype: float64

In [14]:
scaler_s=pd.Series(0.2,index=[1,2,3,4,5,6])
print(scaler_s)

1    0.2
2    0.2
3    0.2
4    0.2
5    0.2
6    0.2
dtype: float64

In [15]:
# we can also create a series using a dictonary

In [16]:
dic_s=pd.Series({'a':1,'b':2})
print(dic_s)

a    1
b    2
dtype: int64

In [17]:
# to excess the elements in the series

In [18]:
s4=pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
s4[0]

1

In [20]:
s4[4]

5

In [21]:
# slicing of the series

In [22]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [23]:
# min and max function

In [24]:
max(s4)

5

In [25]:
min(s4)

1

In [26]:
s4[s4>3]

3    4
4    5
dtype: int64

In [27]:
# to add, sub, multiply,divide the data we use similar operations like numpy array

In [28]:
s5=pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [29]:
s4+s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [30]:
s4-s5

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [31]:
s4*s5

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [32]:
s4/s5

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [33]:
# if two list have different index values than the rest one will represents as a NAN not a number

In [34]:
s6=pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [35]:
s4+s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64